.sobre .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    margin: 7rem auto;
    
}

.sobre .content img{
    border-radius: 50%;
}